<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shipjunction_Utilities>
            <version>1.0.2</version>
        </Shipjunction_Utilities>
    </modules>
    <global>
        <models>
            <shipjunction_utilities>
                <class>Shipjunction_Utilities_Model</class>
            </shipjunction_utilities>
        </models>
    </global>
	<default>
		<clearpath>
			<general>
				<clearpath_tablename>clearpath_ordernumber</clearpath_tablename>
			</general>
		</clearpath>
	</default>
</config>
